<head>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="shortcut icon" type="image/png" href="images/logo.png"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <meta name="viewport" content="width=device-width"> -->
</head>

<template name="layout">
	<body id="pageLayout">
	<div class="container">

		<!-- Here is the standard Bootstrap code for a Navigation bar taken directly from getbootstrap.com/components -->
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header navbar-left">
		      <button type="button" class="navbar-toggle collapsed"
			  			data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
						<span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="{{pathFor 'home'}}">
		      	<strong class="teamupformat">TeamUp</strong></a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      	<ul class="nav navbar-nav">
							{{#if currentUser}}
							<li class="dropdown"><a href="javascript:void(0)" class="dropbtn">Me</a>
								<div class="dropdown-content">
      						<a href="/userprofile/me">Profile</a>
      						<a href="{{pathFor 'profileconnections'}}">Connections</a>
									<a href="{{pathFor 'yourTeams'}}">Teams</a>
    						</div>
							</li>
							<li class="dropdown"><a href="javascript:void(0)" class="dropbtn">Search</a>
								<div class="dropdown-content">
									<a href="{{pathFor 'connections'}}">Find Connections</a>
									<a href="{{pathFor 'teamsearch'}}">Find Teams</a>
									<a href="{{pathFor 'publishedforums'}}">Find Forums</a>
    						</div>
							</li>
							<li class="dropdown"><a href="javascript:void(0)" class="dropbtn">Create</a>
								<div class="dropdown-content">
									<a href="{{pathFor 'forums'}}">Create Forum</a>
									<a href="{{pathFor 'createTeam'}}">Create Team</a>
    						</div>
							</li>
							<li><a href="{{pathFor 'calendar'}}">Calendar</a></li>
							{{/if}}
							<li><a href="{{pathFor 'about'}}">About</a></li>
						</ul>
			   		<ul class="nav navbar-nav navbar-right">
			            {{> loginButtons}}
			      </ul>
		    </div>
			</div><!-- /.container-fluid -->
		</nav>

		<!--
		<div class="logodiv">
			<img src="../images/TeamUp1.png" width="auto" height="auto" class="logoimg" href="{{pathFor 'home'}}">
		</div> -->

		<!-- Here is where the actual content of the page gets inserted by the router! -->
		{{> yield}}

	</div>
</body>
</template>
