body {
  background-image:url("../images/shattered.png");
  background-repeat: repeat;
}

.logoimg {
  margin-left: 0px;
  margin-top: 0px;
}

.navbar-brand {
  margin-left: 0px;
  margin-top: 0px;
}
