#pageProfile .table {
    border-collapse: collapse;
    width: 100%;
    font-size: 25px;
    padding:8px;
    text-align: left;
    border: 5px solid;
    background-color: white;
    color:rgb(33, 69, 124);
}

#pageProfile .editinfo {
  display: none;
}

#pageProfile button {
    background-color: white; /* Grey */
    border: none;
    color: rgba(0, 68, 102, 1);
    border: 3px solid;
    border-radius: 25px;
    padding: 4px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
    font-weight: bold;
}

#pageProfile h-b {
  background-color: white;
  color: blue;
  font-size: 25px;
}

#pageProfile h2 {
  font-size: 35px;
  font-weight: bold;
}

#pageProfile .center {
    margin: left;
    width: 70%;
    border: 5px solid;
    border-width: 10px;
}

#pageProfile .nameformat {
  font-size: 55px;
  padding-top: 10px;
}

#pageProfile .infoformat {
  font-size: 17px;
  display: inline;
}

#pageProfile .infotitles {
  font-size: 27px;
}

#pageProfile .bottompad {
  padding-bottom: 10px;
}

#pageProfile .nameformat {
  background-color: white;
  padding: 2px 30px;
  border-top: 6px solid;
  border-right: 7px solid;
  border-bottom: 8px solid;
}

#pageProfile .positionpad {
  padding-left: 70px;
}

#pageProfile .nameformat {
  background-color: white;
  padding: 2px 30px;
  border-top: 7px solid;
  border-right: 7px solid;
  border-bottom: 7px solid;
}

#pageProfile .aboutcontactdiv {
  margin: 0 auto;
  position: relative;
  border-collapse: collapse;
  background-color: white;
  border: 6px solid;
  margin-bottom: 25px;
}

#pageProfile ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

#pageProfile li {
    float: left;
}

#pageProfile li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#pageProfile li a:hover {
    background-color: lightgrey;
}
