#pageProfile .table {
    border-collapse: collapse;
    width: 100%;
    font-size: 25px;
    padding:8px;
    text-align: left;
    border: 5px solid grey;
    background-color: white;
    color:rgb(33, 69, 124);
}

#pageProfile .editinfo {
  display: none;
}

#pageProfile button {
    background-color: #d9d9d9; /* Grey */
    border: none;
    color: rgba(0, 68, 102, 1);
    border: 3px solid;
    border-radius: 25px;
    padding: 4px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
}

h-b {
  background-color: white;
  color: blue;
  font-size: 25px;
}

.center {
  margin: auto;
    width: 50%;
    border: 5px solid navy;
    padding: 5px;
}

#sidebar{
  font-size: 25px;
  color: white;
  background-color: rgb(56,119,216);
  border:left;
}

#sbopen{
  font-size: 25px;
  color:white;
  background-color: rgb(56,119,216);
  border-radius: 8px;
  padding:16px;
  border:blue;
}

#sbclose{
  font-size: 25px;
  color:white;
  background-color: rgb(56,119,216);
  border-radius: 8px;
  padding:16px;
  border:blue;
}

sb-p{
  color:white;
}
