#pageCalendars span {
  font-size: 20px;
  text-align: left;
  color:darkblue;
}

#pageCalendars p {
  color: darkblue;
}

#pageCalendars table {
  color: white;
}

#pageCalendars h1 {
  font-size: 45px;
}

#pageCalendars .bg-info {
  border: 5px solid white;
  border-radius: 35px;
}

#pageCalendars .textformat {
  font-size: 20px;
  color: rgba(0, 68, 102, 1);
  padding: 20px;
}
