#pageCalendar span {
  font-size: 20px;
  text-align: left;
  color:darkblue;
}

#pageCalendar p {
  color: darkblue;
}

#pageCalendar table {
  color: white;
}

#pageCalendar h1 {
  font-size: 45px;
}

#pageCalendar .bg-info {
  border: 5px solid white;
  border-radius: 35px;
}

#pageCalendar .textformat {
  font-size: 20px;
  color: rgba(0, 68, 102, 1);
  padding: 20px;
}
