.groupTitle{
  text-align: center;
}

.editgroupname{
  color: rgba(0, 68, 102, 1);
}

.groupMainDiv{
  background-color: lightgrey;
  color: rgb(0, 68, 102, 1);
  padding: 40px;
  border: solid 7px white;
  border-radius: 35px;
  float: left;
  height: 300px;
  overflow: auto;
  width: 68%;
  position: relative;
}

.grpMemberBox{
  position: relative;
  float: right;
  margin-bottom: 0px !important;
  width: 30%;
  height: 300px;
  overflow: auto;
}

.groupTitle-edit{
  text-align: center;
}

.messageString{
  color: black;
  /*position: absolute;*/
  width: 70%;
}

.inputMsgSpan{
  overflow: hidden;
  padding-right: 10px;
}

.js-sendGrpMsg{
  float: right;
}

.descriptionBox{
  background-color: lightgrey;
  color: rgba(0, 68, 102, 1);
  padding: 20px;
  border-radius: 10px;
}

.messageOuter{
  clear: both;
  width: auto;
  position: relative;
}

.groupMessageBox{
  background-color: lightgrey;
  color: rgba(0, 68, 102, 1);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: auto;
}

.messageTextBB{
  height: 250px;
  overflow: scroll;
  /*display: flex !important;
  flex-direction: column !important;*/
}

.messageSpan{
  color: black;
}

.js-joingroupbtn{
    background-color: lightgrey;
    border-color: rgba(0, 68, 102, 1);
    border-radius:20px;
    padding-left:10px;
    padding-right:10px;
}

.editGroup{
  background-color: lightgrey;
  border-color: rgba(0, 68, 102, 1);
  border-radius:20px;
  padding-left:10px;
  padding-right:10px;
}

.js-savegroup{
  background-color: lightgrey;
  border-color: rgba(0, 68, 102, 1);
  border-radius:20px;
  padding-left:10px;
  padding-right:10px;
  color: rgba(0, 68, 102, 1);
}

.js-sendGrpMsg{
  background-color: grey;
}

.joinButton{
  text-align: center;
}

.groupEditDiv{
  display: none;
}

@media all and (max-width: 725px){
  .groupMainDiv{
    width: 100%;
    float: none;
    clear: both;
  }
  .grpMemberBox{
    width: 100%;
    float: none;
    clear: both;
  }
  .messageOuter, .groupMessageBox{
    width: 100%;
  }

}
