.groupTitle{
  text-align: center;
}

.editgroupname{
  color: rgba(0, 68, 102, 1);
}

.groupTitle-edit{
  text-align: center;
}

.messageString{
  color: black;
  /*position: absolute;*/
  width: 70%;
}

.inputMsgSpan{
  overflow: hidden;
  padding-right: 10px;
}

.js-sendGrpMsg{
  float: right;
}

.descriptionBox{
  background-color: lightgrey;
  color: rgba(0, 68, 102, 1);
  padding: 20px;
  border-radius: 10px;
}

.groupMessageBox{
  background-color: lightgrey;
  color: rgba(0, 68, 102, 1);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.messageText{
  height: 250px;
  overflow: scroll;
  /*display: flex;
  flex-direction: column-reverse;*/
}

.messageSpan{
  color: black;
}

.js-joingroupbtn{
    background-color: lightgrey;
    border-color: rgba(0, 68, 102, 1);
    border-radius:20px;
    padding-left:10px;
    padding-right:10px;
}

.editGroup{
  background-color: lightgrey;
  border-color: rgba(0, 68, 102, 1);
  border-radius:20px;
  padding-left:10px;
  padding-right:10px;
}

.js-savegroup{
  background-color: lightgrey;
  border-color: rgba(0, 68, 102, 1);
  border-radius:20px;
  padding-left:10px;
  padding-right:10px;
  color: rgba(0, 68, 102, 1);
}

.js-sendGrpMsg{
  background-color: grey;
}

.joinButton{
  text-align: center;
}

.groupEditDiv{
  display: none;
}
