.showGroupsDiv{
  color: black;
  display:flex;
  flex-flow: row;
  margin-left: 150px;
  margin-right: auto;
  min-height: 100px;
  max-height: 500px;
}

.ownedBox{
  background-color: lightgrey;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 40px;
  margin-left: 100px;
  min-height: 100px;
  max-height: 500px;
  order: 2;
  overflow: auto;
}

.ownedContents{
  overflow: auto;
}

.memberOfBox{
  background-color: lightgrey;
  border-radius: 8px;
  padding: 20px;
  min-height: 100px;
  max-height: 500px;
  overflow: auto;
  margin-bottom: 40px;
  order: 1;
}

.memberOfContents{
  overflow: auto;
  text-align: left;
}

.titleformat {
  font-size: 22px;
  font-family: "Open Sans";
  color: rgba(0, 68, 102, 1);
}
