a.bluelink{
  color: rgba(0, 68, 102, 1) !important;
  text-align: left;
}

.centertext{
  text-align: center;
}

.blacktext{
  color:black;
}

.groupsearchbar{
  color: black;
  text-align: center;
}

@media all and (max-width: 750px){
  body{
    font-size: 125%;
  }

  .teamsearchbox{
    min-width: 300px;
  }
}
