#forumtop{
  background-color: lightgrey;
  color:rgba(0, 68, 102, 1);
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;


}
h-h{
  font-size: 30px;
  font-weight:bold;
}
h-footer{
  font-size: 10px;
  color:grey;
}

h-c{
  font-size:15px;
  color:rgb(136,159,167);
}

#commentsubmit {
  color:black;
  background-color: white;
  font-size: 10px;
}

#commentinput {
  color:black;
  background-color: white;
  font-size: 20px;
  border-radius: 15px;
  padding:10px;
}

#commentrow {
  color: black;
  background-color: white;
  font-size:20px;
  border-radius: 10px;
  padding: 10px;
}
