#pageForums .flex-container {
    display: -webkit-flex;
    display: flex;
    width: 820px;
    height: 470px;
    background-color: white;
    border: 15px solid: #fffff;
    border: 1px solid rgba(0, 68, 102, 1);
    border-radius: 50px;
    padding: 25px 10px;
}


#pageForums .flex-item {
    background-color: #004d99;
    width: 500px;
    height: 340px;
    margin: 50px;
    border: 15px solid  #004d99;
    border-radius: 40px;
}

#pageForums button {
    background-color: #d9d9d9; /* Grey */
    border: none;
    color: rgba(0, 68, 102, 1);
    border: 3px solid;
    border-radius: 25px;
    padding: 4px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

#pageForums textarea {
    border: 1px solid rgba(0, 68, 102, 1);
    border-radius: 50px;
    padding: 7px 25px;
}

#pageForums li {
    font-size: 20px;
}

#pageForums hr {
    height: 3px;
    background-color: rgba(0, 68, 102, 1);
}
