#pageAbout article {
    font-size: 20px;
    text-align: justify;
}

#pageAbout section {
    font-size: 18px;
    text-align: justify;
}

#pageAbout a:link, a:visited, a:hover, a:active {
  color: cornflowerblue;
}

.founders{
  background-color: lightgrey;
  color: rgba(0, 68, 102, 1);
  padding: 40px;
  border-radius: 6px;
  margin-bottom: 40px;
}

.foundersrow{
  border-style: solid;
  border-width: 2px;
}
