#pageAbout article {
    font-size: 20px;
    text-align: justify;
}

#pageAbout section {
    font-size: 18px;
    text-align: justify;
}

#pageAbout a:link, a:visited, a:hover, a:active {
  color: cornflowerblue;
}

.foundersrow{
  border-style: solid;
  border-width: 2px;
}

#pageAbout .titlefont {
    font-size: 35px;
    font-weight: bold;
    text-align: justify;
}

#pageAbout h2 {
    font-weight: bold;
    font-size: 30px;
}
